# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

Project/
swirl-search/
Agent Swarms pip package/
DeepLearningFlappyBird/
lib/

# Virtual environment
venv/
env/

# IDE specific files
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite3

# System files
.DS_Store
Thumbs.db

# Python egg files
*.egg
*.egg-info/
dist/
build/

# Cache files
*.cache
*.bak
*.swp

*.env